<h1 mat-dialog-title>{{ data.word ? "Edit word" : "New word"}}</h1>
<form id="save-word-form" mat-dialog-content [formGroup]="wordForm" (ngSubmit)="saveWord()">
    <div class="grid grid-cols-4 gap-2 pt-3">
        <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <select matNativeControl formControlName="category" required>
                <option selected value="substantiv">substantiv</option>
                <option value="adjektiv">adjektiv</option>
                <option value="verb">verb</option>
                <option value="adverb">adverb</option>
                <option value="preposition">preposition</option>
                <option value="konjunktion">konjunktion</option>
                <option value="interjektion">interjektion</option>
                <option value="pronomen">pronomen</option>
                <option value="prefix">prefix</option>
                <option value="förkortning">förkortning</option>
                <option value="övrigt">övrigt</option>
            </select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-span-3">
            <mat-label>Swedish word</mat-label>
            <input matInput formControlName="swedishWord" required>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Translation</mat-label>
        <input matInput formControlName="translation">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Inflections</mat-label>
        <input matInput formControlName="inflections">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Synonyms</mat-label>
        <input matInput formControlName="synonyms">
    </mat-form-field>
    <div class="flex">
        <mat-form-field appearance="outline" class="grow">
            <mat-label>Pronounciation</mat-label>
            <input matInput formControlName="audioUrl">
        </mat-form-field>
        <button type="button" mat-icon-button class="flex-none" (click)="fillAudioUrl()">
            <mat-icon>g_translate</mat-icon>
        </button>
        <button type="button" mat-icon-button class="flex-none" (click)="playAudio()">
            <mat-icon>volume_up</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center">
        <span class="text-lg">Examples</span>
        <button mat-icon-button type="button" (click)="addExample()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div formArrayName="examples" class="mt-1">
        <div *ngFor="let example of examples.controls; let i = index" class="flex">
            <mat-form-field class="grow" appearance="outline">
                <mat-label>{{ "Exemple " + (i+1) }}</mat-label>
                <input matInput formControlName="audioUrl" [formControlName]="i">
            </mat-form-field>
            <button mat-icon-button type="button" (click)="removeExample(i)" class="grow-none">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</form>
<div mat-dialog-actions align="end">
    <button mat-stroked-button type="button" mat-dialog-close class="w-24">Cancel</button>
    <button mat-flat-button type="submit" color="primary" form="save-word-form" [disabled]="isSaving" class="w-24">
        <span *ngIf="!isSaving">Save</span>
        <mat-spinner *ngIf="isSaving" diameter="20"></mat-spinner>
    </button>
</div>