<h1 mat-dialog-title>Import word from dictionary</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="searchWord()">
        <mat-form-field appearance="outline" class="w-full pt-2">
            <mat-label>Keyword</mat-label>
            <input matInput formControlName="keyword">
            <button mat-icon-button matSuffix type="submit" color="primary" [disabled]="isSearching">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div *ngIf="isSearching; else resultsT">
        <mat-spinner diameter="30" class="mx-auto mt-3"></mat-spinner>
    </div>
    <ng-template #resultsT>
        <div *ngIf="searchError" role="alert">
            {{ searchError }}
        </div>
        <div *ngIf="searchResults">
            <div>
                {{ searchResults.length }} results
            </div>
            <mat-list>
                <app-search-result-entry *ngFor="let word of searchResults" [word]="word" [userId]="data.userId"
                    [listId]="data.listId" [addWordCallback]="data.addWordCallback"></app-search-result-entry>
            </mat-list>
        </div>
    </ng-template>
</div>
<div mat-dialog-actions align="end">
    <button mat-stroked-button type="button" [mat-dialog-close]="true" class="w-24">Cancel</button>
</div>