<div #listTop></div>
<div class="bs-container pt-24" *ngIf="(list$ | async) as list">
    <section *ngIf="listError; else listInfo">
        {{ listError }}
    </section>
    <ng-template #listInfo>
        <section>
            <h1 class="text-2xl">{{ list.name }}</h1>
            <div class="flex items-center my-2">
                <img src="https://picsum.photos/200/300" class="w-8 h-8 rounded-full mr-1">
                <span>@challsf</span>
            </div>
            <p>{{ list.description }}</p>
        </section>
    </ng-template>

    <mat-divider class="my-8"></mat-divider>

    <section>
        <div *ngIf="(words$ | async) as words; else fetchingWordsOrError">
            <div>
                {{ words.length + " words" }}
            </div>
            <div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <app-word-card *ngFor="let word of words" [word]="word" [listId]="list!.id"
                    [userId]="(auth.userIdSubject$ | async)!" [submitCallback]="updateWord"
                    [deleteCallback]="deleteWord" class="mt-2"></app-word-card>
            </div>
        </div>
        <ng-template #fetchingWordsOrError>
            <div *ngIf="fetchingWordsError ;else loading">
                {{ fetchingWordsError }}
            </div>
            <ng-template #loading>
                <div>
                    <mat-spinner diameter="30" class="mx-auto mt-3" role="status"></mat-spinner>
                </div>
            </ng-template>
        </ng-template>
    </section>
</div>

<div #listBottom class="h-24"></div>

<mat-toolbar class="fixed z-50 bottom-nav" color="primary">
    <div class="bs-container flex items-center">
        <button mat-icon-button matTooltip="Search the word">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteListModal()" matTooltip="Delete the list">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="openEditListModal()" matTooltip="Edit the list">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollToBottom()" matTooltip="Scroll down to the bottom">
            <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollToTop()" matTooltip="Scroll up to the top">
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-mini-fab class="ml-auto" (click)="openButtomSheet()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>