<h1 mat-dialog-title>{{ data.list ? "Edit list " + data.list.name : "Create new list" }}</h1>
<form id="save-list-form" mat-dialog-content [formGroup]="listFormGroup" (ngSubmit)="saveList()">
    <mat-form-field appearance="outline" class="w-full pt-3">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <div class="ml-auto">
        <button mat-stroked-button type="button" class="w-24" [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
        <button mat-flat-button color="primary" type="submit" form="save-list-form" class="w-24"
            [disabled]="isRequesting">
            <mat-spinner *ngIf="isRequesting" diameter="20"></mat-spinner>
            <span *ngIf="!isRequesting">Save</span>
        </button>
    </div>
</div>