<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{
      list ? "Edit list " + list.name : "Create new list"
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="isRequesting"
        type="submit"
        [strong]="true"
        form="save-list-form"
        >Create</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form id="save-list-form" [formGroup]="listFormGroup" (ngSubmit)="saveList()">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="Name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="Description"
        formControlName="description"
        formControlName="description"
      ></ion-input>
    </ion-item>
  </form>
</ion-content>
