<div class="bs-container pt-32">
    <mat-card *ngIf="!accountCreated" class="max-w-md mx-auto">
        <mat-card-header>
            <mat-card-title>Create new account</mat-card-title>
            <mat-card-subtitle>Already have an account? <a routerLink="/login" class="text-blue-600">Log
                    in</a></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form id="signup-form" (ngSubmit)="onSubmitSignup()" [formGroup]="signUpForm" class="mt-3">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-hint>Minimum 4-character long</mat-hint>
                </mat-form-field>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button type="submit" class="ml-auto w-24" color="primary" form="signup-form"
                [disabled]="isSigningUp">
                <span *ngIf="!isSigningUp">Sign up</span>
                <mat-spinner *ngIf="isSigningUp" diameter="20"></mat-spinner>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="accountCreated">
        <mat-card-header>
            <mat-card-title>Verify the email address</mat-card-title>
            <mat-card-subtitle>
                {{ "A confirmation code has been sent to your email " + maskedEmail + ". Please enter the code below."}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form id="verify-email-form" (ngSubmit)="onSubmitConfirmation()" [formGroup]="confirmationForm"
                class="mt-3">
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Confirmation code</mat-label>
                    <input type="password" formControlName="confirmationCode">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button form="verify-email-form" color="primary" type="submit" [disabled]="isConfirming"
                class="ml-auto w-24">
                <span *ngIf="!isConfirming">Confirm</span>
                <mat-spinner *ngIf="isConfirming" diameter="20"></mat-spinner>
            </button>
        </mat-card-actions>
    </mat-card>
</div>