<div class="flex items-center justify-between">
    <span>Add Ordlista to Home Screen?</span>
    <div>
        <button mat-fab extended (click)="installPwa()" color="primary">
            <mat-icon *ngIf="(platform.ANDROID || platform.IOS)">install_mobile</mat-icon>
            <mat-icon *ngIf="!(platform.ANDROID || platform.IOS)">install_desktop</mat-icon>
            Install
        </button>
        <button mat-icon-button (click)="close()" class="ml-2">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>