<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            {{ list.name }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{ list.description }}</p>
            <p class="has-text-grey my-0">
                {{ list.wordCount }} ord
            </p>
            <p class="has-text-grey">
                Skapades den {{ createdAt }}
            </p>
            <a [routerLink]="['/lista', list.id]" class=" button">Se</a>
        </div>
    </div>
</div>