<mat-toolbar class="fixed z-50 bottom-nav" color="primary">
    <div class="bs-container flex justify-between items-center">
        <button mat-icon-button routerLink="/" class="flex-col">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button routerLink="/discover">
            <mat-icon>groups</mat-icon>
        </button>
        <button mat-icon-button routerLink="/my-lists">
            <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button routerLink="/settings">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>