<div class="modal" [ngClass]="isActive ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card" (ngSubmit)="deleteData()">
        <header class="modal-card-head">
            <p class="modal-card-title">Ta bort {{ dataName }}</p>
        </header>
        <section class="modal-card-body">
            <p *ngIf="dataType== 'list'">Är du säker på att du vill ta bort listan <strong>{{ dataName }}</strong>?</p>
            <p *ngIf="dataType == 'word'">Är du säker på att du vill ta bort ordet <strong>{{ dataName }}</strong>?</p>
            <div *ngIf="requestError" class="notification is-danger">
                {{ requestError}}
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button" (click)="closeCallback()">Nej</button>
            <button type="submit" class="button is-danger" [ngClass]="isRequesting ? 'is-loading':''"
                (click)="deleteData()">Ja</button>
        </footer>
    </div>
</div>