<h1 mat-dialog-title>Delete {{ data.dataName }}</h1>
<div mat-dialog-content>
    <p *ngIf="data.dataType== 'list'">Are you sure you want to delete the list
        <strong>{{ data.dataName }}</strong>
        ?
    </p>
    <p *ngIf="data.dataType == 'word'">Are you sure you want to delete the word
        <strong>{{ data.dataName }}</strong>
        ?
    </p>
</div>
<div mat-dialog-actions>
    <div class="ml-auto">
        <button type="button" mat-flat-button color="warn" (click)="deleteData()" [disabled]="isRequesting">
            <span *ngIf="!isRequesting">Yes</span>
            <mat-spinner *ngIf="isRequesting" diameter="20"></mat-spinner>
        </button>
        <button type="button" mat-stroked-button [mat-dialog-close]="true">No</button>
    </div>
</div>