@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
}

body {
    font-family: "Roboto Flex", Roboto, "Helvetica Neue", sans-serif;
}

#fill {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: env(safe-area-inset-bottom);
    background-color: #009688;
    z-index: 50;
}

.bottom-nav {
    bottom: env(safe-area-inset-bottom);
}

.mdc-notched-outline__notch {
    border-right: none;
}

.bs-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .bs-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .bs-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .bs-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .bs-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .bs-container {
        max-width: 1320px;
    }
}